doctype html
html
    head
        meta(charset='utf-8')
        title Cloud Code k8s Demo
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
    body
        .header
            .container
                h1 
                    a(href='/') Cloud Code k8s Demo
                div Click button below to fetch data from the backend
                br
                form(action="/fetchdata", method="POST")
                    button(type="submit") Fetch Data
                br
                if result && result.data
                    h3 Fetched data:
                    div #{result.data}
                    div Last fetched: #{new Date().toISOString()}
        .container.posts.mt-0
